.flexcenter{
    display: flex;
    height: 100vh;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerContainer{
    
    display: flex;
    flex:1;
  
}
.listScroll{
    overflow-y: auto;
}
.header + .listScroll{
    height: 95%;

}
.subcrTabPane{
    height: 40vh;
    overflow-y: auto;
}
.clientTable{
    height: 60vh;
    overflow-y: auto;
    padding-bottom: 5vh;
}
.clientUserTable{
    height: 75vh;
    overflow-y: auto;
    padding-bottom: 5vh;
}
.flexCol{
    flex-direction: column !important;
}
.draggable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -webkit-grab;
  }
  .fullwidth{
      width:100%;
  }


.listadvisorpadding {
width: 500px;
display: flex; 
padding-bottom: 50px;
padding-right: 100px;
align-items: center;
/* border:double; */
}

.padding {
    display: block;
    padding: 10px 30px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    height: 90vh;
    /* width: 160vh; */
    overflow-y: auto;
}

.row-warning {
    background-color: rgba(255, 255, 0, 0.45);
}

.row-error {
    background-color: rgba(255, 0, 0, 0.85);
}